# This is Question 21 of the mid term assessment
Question (21.) 
__int()__: Constructor that takes as input a pair of Point objects that represent the ends points of the line segment

Length():: returns the length if the segment 

Slope() returns the slope of the segment of none if the slope is unbounded 

>>> p1 = Point(3,4)
>>> p2 = Point()
>>> s = Segment(p1,p2)
>>> s.length()
5.0
>>> s.slope()

0.75

ANSWER EXPLANATION: In order to solve the mentioned question, we need to first define the point and segment classes, then we need to follow the steps:

1. Create two Point objects, p1 and p2.
2. Create a Segment object s with p1 and p2 as its endpoints.
3. Call the length method to get the length of the segment.
4. Call the slope method to get the slope of the segment.

These steps are implemented in the code below:

In [2]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2

    def length(self):
        return math.sqrt((self.p2.x - self.p1.x) ** 2 + (self.p2.y - self.p1.y) ** 2)

    def slope(self):
        if self.p2.x == self.p1.x:
            return None  # In this condition the slope is said to be unbounded (vertical line)
        return (self.p2.y - self.p1.y) / (self.p2.x - self.p1.x)

# Example usage
p1 = Point(3, 4)
p2 = Point(5, 6)
s = Segment(p1, p2)
print(s.length())
print(s.slope())

2.8284271247461903
1.0

# This is Question 22 of the mid term assessment
# Question (22.) 
Solve the following questions using both SQL and python.
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution given below. Now, create the database, create the table, insert the data below and execute the SQL query.
Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

# ANSWER EXPLANATION:
We will be using python with the sqlite3 module to create the database, insert the data, and execute the query where we will follow the mentioned steps to reach our objective:

1. Fetching all records from the Weather table and order them by recordDate.
2. Iterating through the records, converting the recordDate to a datetime object.
3. Checking if the difference between the current date and the previous date is exactly one day and if the temperature is higher.
4. Printing the id of the records that meet the criteria.

The steps are implemented in the code below:

In [13]:
import sqlite3

# Using an in-memory SQLite database for easier testing
database_conn = sqlite3.connect(':memory:')
cursor = database_conn.cursor()

# Creating the Weather table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')

# Inserting the data into the Weather table
data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]
cursor.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)
database_conn.commit()

# SQL query to find all dates with higher temperatures compared to its previous day
cursor.execute('''
    SELECT id
    FROM (
        SELECT id, temperature, LAG(temperature) OVER (ORDER BY recordDate) AS prev_temp
        FROM Weather
    )
    WHERE temperature > prev_temp;
''')

# Executing the fetched results
results = cursor.fetchall()
for result in results:
    print(result[0])

# Closing the connection
database_conn.close()

2
4

# This is question 23 of the mid-term test
# Question (23.)
Develop a recursive function tough() that takes two nonnegative integer arguments and outputs a pattern as shown below. Hint: The first argument represents the indentation of the pattern, where the second argument -- always a pattern of 2 indicates the number *s in the longest line of *s in the pattern.

# Answer Explanation:
Here the basic algorithm used for the recursive function is:
1. Printing increasing stars from 1 up to n.
2. Printing decreasing stars from n-1 back down to 1 after the peak.

Furthermore, we have a function name tough() which has two arguments namely "indentation" and "n" which are explained in detail below:  
- indentation: It controls how many spaces will be printed before each row of stars. This allows the pattern to be "indented" or shifted to the right.
- n: It determines how many stars will be in the longest row (the peak of the pattern) and controls the total size of the pattern.

We have three main cases for the function:  
1. Base case, which is stopping condition where if n=0, the function does nothing and simply returns.This avoids any further pattern generation when no stars are required
2. Increasing case, where for loop iterates from 1 to n. Each iteration prints a line with i stars (* repeated i times).This allows each line to be indented by that many spaces.
3. Decreasing case, where for loop prints the "downward" part of the pattern, starting from n-1 stars and decreasing to 1 star. Here, the loop runs from n-1 down to 1, so the third argument -1 in range(n-1, 0, -1) tells the range to count downwards.

Hence, using the arguments (0,4) the recursive function is demonstrated.

In [15]:
def tough(indentation, n):
    if n == 0:
        return
    
    # Print increasing stars
    for i in range(1, n+1):
        print(' ' * indentation + '*' * i)
    
    # Print decreasing stars after the peak
    for i in range(n-1, 0, -1):
        print(' ' * indentation + '*' * i)

# Code execution example:
tough(0, 4)

*
**
***
****
***
**
*